body{
    background-color:#222;
    color:#fff;
}
.question {
    display:flex;
    margin:0;
    background-color:#eee;
    justify-content:left;
    padding-top: 5px;
}
.chart {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap:5px;
    grid-template-rows:repeat(100,1fr);
    height:50vh;
    width:20vw;
}
.option{
    background-color:#ff4136;
    color:#eee;
    text-align: center;
}
